* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Typeka-Bold';
    src: url(Font/Typeka-Bold.otf);
}

@font-face {
    font-family: 'Typeka';
    src: url(Font/Typeka.otf);
}

.navbar {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Typeka-Bold;
    font-size: x-large;
}

.navbar ul {
    display: flex;
    list-style: none;  
    justify-content: center;
}

.navbar ul li {
    display: inline-block;
    line-height: 65px;
    padding: 0px 20px;
}

.navbar ul li a {
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #D4CFCE;
}

.navbar ul li a:hover {
    color: #870101;
    text-shadow: -1px 3px 3px #000000;
}

body {
    background-image: url(Image/guide.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.main-header {
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.main-header h1 {
    font-family: 'Typeka-Bold';
    color: #FFFFFF;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

body { 
    font-family: 'Typeka';
    font-size: 1rem;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem;
}

iframe { 
    max-width: 100%;
}

.guide-card iframe {
    height: 280px;
}

.guide-card {   
    background-image: url(photos/card-cover.png);    
    background-position: center;
    background-size: cover;
}

.guide-card  h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: #870101;
}

.guide-card > div {
    padding: .5rem;
}

.guide-card p {
    line-height: 1.25rem;
    text-align: justify;
 }

 footer{
    font-family: Typeka-Bold;
    font-size: 10pt;
    color: white;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    width: 100%;

}
